.TodoList-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "top top top top"
                       "content content content content"
                       "divider divider divider divider "
                       "bottom bottom bottom bottom";
  margin-top: 20px;
  padding: 10px;
}

.TodoList-top {
  grid-area: top;
}

.TodoList-list {
  grid-area: content;
}

.TodoList-divider {
  grid-area: divider;
}

.TodoList-footer {
  grid-area: bottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
